* {
        padding: 0;
        margin:0;
  }
body{
	font-family: Tahoma, Arial;	
}
.container{
background-size: 100%;
padding-top: 10px;
max-width: 72%;
margin: auto;

}
.income-head{
	text-align : center;
}
.FYStyle{
	border: 1px solid green;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 40px;
}
.basicInfo{
	border: 1px solid green;
    border-radius: 4px;
    text-align: justify;
    padding: 10px 180px;	
	margin-bottom:10px;
	overflow: hidden;
	}
.inputStyle{
	width:215px;
	margin:10px;
	
}
h3{text-align:center;}
.marginTopBottom{
	margin-top:10px;margin-bottom:10px;
}
.marginBottom{
	margin-bottom:10px;
}
label{
	display: block; 
	width: 368px;
	float:left;
	margin-top:5px;
	}
#register{
	background: #8EE5EE;
    padding: 10px;
    width: 102px;
    border: 2px solid #8EE5EE;
    border-radius: 7px;
    margin: 2% 45%;
}
.financeYr{
	margin-left:5px;
}